<div class="entry">
  <h1>{{title}}</h1>
  {{#with story}}
    <div class="intro">{{{intro}}}</div>
    <div class="body">{{#with body}}
      <a>{{{header header}}}</a>
      <p>{{content}}</p>
      {{/with}}
      <!-- end body -->
    </div>
  {{/with}}
  <!-- end story -->
</div>